<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <default>
        <wb_onestepcheckout>
            <general>
                <enable>1</enable>
                <custom_note><![CDATA[We will email you with the checkout information.]]></custom_note>
                <success_message><![CDATA[We\'ll email you an order confirmation with details and tracking info.]]></success_message>
                <store_specific_success_message><![CDATA[We will email you our Payment Link & confirm your order after payment.]]></store_specific_success_message>
            </general>
        </wb_onestepcheckout>
    </default>
</config>